$font : 'Josefin Sans', sans-serif;
.detail {
    img {
        border-radius: 20%;
        max-width: 550px;
        max-height: 550px;
    }
    h2 {
        background-color: rgba(115, 180, 103, 0.514);
        text-align: center;
        font-family: $font;
        font-weight: bold;
        border-radius: 10px;
        
    }
}