$font : 'Josefin Sans', sans-serif;

.ingredients-bg {
    width: 100vw;
    height: 100vh;
    background-image: url("../../public/img/food-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

