$font : 'Josefin Sans', sans-serif;

.care-bg {
    width: 100vw;
    height: 100vh;
    background-image: url("../../public/img/care-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.h1 {
    color: pink;
}
